@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beregn din tilskud her</h1>

</div>
<form asp-action="Index" method="post">
    <center>



        <iframe src="https://sparenergi.dk/forbruger/vaerktoejer/tilskudsberegner"
                style="border:0px #ffffff none;" name="myiFrame" scrolling="yes" frameborder="1" marginheight="0px"
                marginwidth="0px" height="800px" width="110%" allowfullscreen>
        </iframe>


    </center>
</form>
